<h1>Basket</h1>

<div id="card">

    {{#if courses.length}}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{count}}</td>
                        <td>
                            <buttom class="btn btn-primary js-remove" data-id={{id}}>Remove</buttom>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <p>
            <strong>Total Price: </strong>
            <span class="price">{{price}}</span>
        </p>
        <form action="/orders" method="POST">
            <button type="submit" class="btn">Take an order</button>
        </form>
    {{else}}
        <p>The Basket is empty</p>
    {{/if}}
</div>